# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

# Logs
*.log

# Environment variables
*.env
.env.*
