{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find out connection costs before applying for grid</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'location_input/css/map_styles.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxQ51BfivW16FpJSX99-TFVlM5lsuK8N0&callback=initMap" async defer></script>
</head>
<body>
    {% include "partials/sidebar.html" %}

    <div class="main">
        <div class="card">
            <h1>Find out connection costs before applying for grid</h1>
            <p>
                Zettar helps you understand connection costs to viable grid connections – without having to wait for a grid offer.
            </p>
        </div>

        <div id="map" class="card"></div>

        <div class="card">
            <form method="POST" action="{% url 'save_location' %}">
                {% csrf_token %}
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">
                <button type="submit">Save Location</button>
            </form>
        </div>
    </div>

    <script src="{% static 'location_input/js/map_script.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxQ51BfivW16FpJSX99-TFVlM5lsuK8N0&callback=initMap">
        
    </script>
</body>
</html>
